.mainGrid{
    display: grid;
    grid-template-columns: 110px 1fr;
    padding: 30px;

}

.mainGrid h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
}

.sectionOne{
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    column-gap: 20px;
}

.buttonOne{
    border: 1px solid #DADCE6;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}

.buttonOne img{
    width: 15px;
}

.buttonOne button{
    background: transparent;
    outline: none;
    border: none;
    color:#6F52ED;
}

.buttonTwo{
    border: 1px solid #DADCE6;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 5px;
    font-size: 14px;
    background-color: #6F52ED;
    height: 100%;
}

.buttonTwo img{
    width: 15px;
}

.buttonTwo button{
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.link{
     text-decoration: none;
}