.mainGrid{
    display: grid;
    grid-template-columns: 110px 1fr;
    padding: 30px;

}

.mainGrid h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
}

.sectionOne{
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    column-gap: 20px;
}


.buttonTwo{
    border: 1px solid #DADCE6;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 5px;
    font-size: 14px;
    background-color: #6F52ED;
    height: 100%;
    cursor: pointer;
}

.buttonTwo img{
    width: 20px;
    margin-top: 7px;
    cursor: pointer;
}

.buttonTwo button{
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;

}

.cardGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "a b"
                         "c b" ;
    margin: 30px 0;
    column-gap: 10px;
    grid-template-rows: 150px;
    row-gap: 15px;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-items: start;
    align-items: center;
    padding: 25px;
    grid-area: a;
}

.card img{
    width: 50px;
}

.heading{
    font-size: 18px;
    line-height: 24px;
}

.info{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #A6ACBE;
    padding: 5px 0;
}

.first{
    min-height: 70vh;
    max-height: 70vh;
    background-color: #fff;
    border-radius: 10px;
    grid-area: b;
}

.firstTitle{
    padding: 20px;
    border-bottom: 1px solid #EEF0F7;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
.secondTitle{
    padding: 20px;
    border-bottom: 1px solid #EEF0F7;
    border-top: 1px solid #EEF0F7;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}


.sides{
    min-height: calc(68vh - 145px);
    max-height: calc(68vh - 145px);
    background-color: #fff;
    border-radius: 10px;
    grid-area: c;
}

.side{
    padding: 20px;
    border-bottom: 1px solid #EEF0F7;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.upload{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    padding: 20px 0;
    row-gap: 10px;
    min-height: 350px;
}

.uploadImage{
    width: 35px;
}

.dragText{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.or{
    margin: 5px;
}

.btnBrowse{
    outline: none;
    border: none;
    color: #fff;
    width: 120px;
    padding: 5px 10px;
    background-color: #6F52ED;;
    height: 30px;
}

@media(max-width:950px){
    
    .card{
        grid-template-columns: 50px 1fr;
        padding: 20px;
    }
    
    .card img{
        width: 30px;
    }

}

@media(max-height:900px){
    .cardGrid{
        grid-template-rows: 100px;
    }
    .upload{
        min-height: 200px;
    }
}

.settingsArea {
    height: 300px;
    padding: 10px;
}

.descriptionArea {
    padding: 10px;
}

.descriptionArea > textarea {
    width: 100%;
    height: 100px; 
}